:root {
    /* VARIAVEL EXEMPLO */
    --flex: flex;
    --center: center;
    --flex-end: flex-end;
    --flex-start: flex-start;
    --space-evenly: space-evenly;
    --space-around: space-around;
    --space-between: space-between;
    --wrap: wrap;
    --nowrap: nowrap;
}


/* QUERY EXEMPLO */

@media only screen and (max-width: 800px) {}